.categoryTag {
    background-color: rgb(188, 20, 20);
    padding: 3px;
    border-radius: 5px;
    color: white;
    float: left;
}

.container {
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.bill-info {
    margin-bottom: 10px;
}

.bill-info h4 {
    margin: 0;
}

.item {
    margin-bottom: 5px;
}

.item span {
    display: inline-block;
    width: 50%;
}

.total {
    font-weight: bold;
}

.footer {
    margin-top: 20px;
    text-align: center;
}
